// show that elements can be edited
.editable
  &.edit // in the edit state
    &:not(:focus) // when not in focus
      &:hover
        background-color: $faded
        cursor: pointer
project
  display: block
  background-color: white 
  border-radius: 4px
  padding-bottom: 25px


  // hide the outline for all editible elements
  [medium-editor]
    outline: none


  .button
    @extend .family-light
    font-size: em(16px)
    height: 39px
    padding-top: 8px 
    border-width: 1px 
    border-radius: $buttonRadius
    border-color: $blue //#92B5DB
    border-style: solid
    color: $blue
    display: block
    text-align: center
    &:hover
      background-color: $blue
      cursor: pointer
      color: white
      i
        transform: scale($buttonIconZoom)
        

    i.withText
      margin-right: 10px
      font-size: 14px
      transition: 0.1s ease-in-out transform
      // height: em(10px)
      // margin-top: -2px


  .top
    .info
      padding-left: $side
      padding-right: $side
      padding-top: 14px
      padding-bottom: 10px
      color: $dark
      text-align: left

      .name
        @extend .family-medium
        font-size: em(20px)
        margin-bottom: 5px
        

      .description
        @extend .family-light
        font-size: em(16px)
        opacity: 0.7

    .button
      width: 140px
      float: right
      margin-top: 20px
      margin-right: $side
      margin-bottom: 20px
      &.visible-xs
        float: none
        margin-top: 0px
        margin-left: 20px 
        margin-right: 20px
        margin-bottom: 20px
        width: auto
        height: 50px
        padding-top: 14px

  .dash
    height: 1px
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 20%)
    background-position: bottom
    background-size: 6px 1px
    background-repeat: repeat-x
    opacity: 0.25

  .bottom

    .addWrapper
      margin-top: 20px
      padding-left: $side 
      padding-right: $side

    .extras 
      padding-left: $side 
      padding-right: $side 
      margin-top: 24px

      .extra 
        @extend .family-book
        float: left
        background-color: $faded
        border-radius: $buttonRadius
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 17px
        padding-right: 17px
        font-size: em(14px)
        color: rgba(20,20,20,0.7)
        margin-right: 14px
        margin-top: 6px

  .prompt
    .col-xs-12
      .file 
        margin-top: 9px


