<!-- Dots and lines for this project group -->
<svg id="svg-{{idx}}"></svg>

<div class="project" ng-repeat="project in projects" ng-class="{visible:projectVisible[$index]}">
  <p class="title">{{project.title}}</p>
  <p class="description">{{project.description}}</p>
  <div class="links">
    <a class="link code" ng-href="project.links.code">view code</a>
    <a class="link site" ng-href="project.links.site">{{project.links.site}}</a>
  </div>
</div>

<!-- Treating this like a fake project - not the most elegant way to handle this, but it's quick -->
<div class="project addProject" 
  ng-class="{visible:projectVisible[projects.length],showAdd:showAdd}">
  <p class="addText" 
    ng-show="!showAdd"
    ng-click="showAdd = true">add project</p>
  <input ng-show="showAdd" type="text" placeholder="Github repo" focus-on="repoName">
</div>