.bgImage 
  position: fixed 
  z-index: -1
  top: 0
  left: 0
  width: 100%
  height: 100%
  // background-image: url('../assets/images/books.jpg');
  // background-size: cover;
  // background-attachment: center center;
  // background-image: radial-gradient(80% 10%, circle, #BF7667, transparent), radial-gradient(80% 50%, circle, #EFDDB7, transparent), radial-gradient(20% 80%, 40em 40em, #977351, transparent), radial-gradient(10% 10%, circle, #E1C3B9, transparent)
  // 

  .image 
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url('../assets/images/books.jpg');
    background-size: cover;
    background-attachment: center center;
    z-index: 0
    // filter: blur(20px)

  .mask 
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #738B97
    opacity: 0.93
    z-index: 1

  .filter
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: radial-gradient(circle at 50% -10%, #738B97, transparent), radial-gradient(circle at 50% 110%, #5E747F, transparent)
    z-index: 2

  

  background-image: radial-gradient(0% 0%, circle, #FFE9A5, transparent), radial-gradient(100% 100%, circle, #634A73, transparent), radial-gradient(100% 0%, circle, #B26185, transparent), radial-gradient(0% 100%, circle, #D78F75, transparent)
  // .image,.filter
  // .image
  //   // background-image: radial-gradient(50% 133%, #738B97 34%, #5E747F 100%);
  // background-image: url('../assets/images/mountain.png')
  // filter: blur(20px)
  // background-size: cover
  //   background-repeat: no-repeat
  //   background-position: center center
  //   // background-attachment: fixed
  // .filter
  //   background-image: $filter;
  //   opacity: 0.9

.personWrapper
  min-height: 200px
  .person
    text-align: center
    color: white
    position: relative
    top: 50%
    transform: translateY(-50%)
    .photo
      $size: 70px
      width: $size 
      height: $size 
      border-radius: 50% //2px 
      // background-color: $blue
      background-size: cover
      background-position: center center
      margin-left: auto 
      margin-right: auto
      // border: 2px solid rgba(255,255,255,0.3)
      margin-bottom: 17px
    .name 
      @extend .family-book
      font-size: em(30px)
      margin-bottom: 16px
      // border-bottom: 1px solid rgba(255,255,255,0.8)
      // display: inline-block

    .email
      $fontSize: 16px
      @extend .family-light
      display: inline-block
      font-size: em($fontSize)
      border: 1px solid white
      padding-top: 12px
      padding-bottom: 12px
      padding-right: 31px
      i
        margin-left: 19px
        margin-right: 19px
        min-height: $fontSize
        min-width: $fontSize



.madeWith
  margin-top: 200px
  margin-bottom: 100px
  text-align: center
  color: white 
  @extend .family-light
  font-size: em(16px)