.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$base-font-size: 14px;

$side: 20px;
$buttonIconZoom: 1.15;
$buttonRadius: 2px;

$dark: #202020;
$blue: #4883C3;
$faded: rgba(20,20,20,0.06);
.family-light {
  font-family: "Avenir-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

.family-book {
  font-family: "Avenir-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.family-medium {
  font-family: "Avenir-Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}
.family-heavy {
  font-family: "Avenir-Heavy", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
}

html {
  background-image: radial-gradient(circle at 50% -10%, #738B97, transparent), radial-gradient(circle at 50% 110%, #5E747F, transparent);
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: transparent;
}

p {
  @extend .family-book;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

a {
  color: inherit;
  &:hover,&:visited,&:link,&:active
  {
      text-decoration: none;
      color: inherit;
      outline: none;
  }
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// injector
@import 'main/main.sass';
@import '../components/highlight/highlight.sass';
@import '../components/minimap/minimap.sass';
@import '../components/project/project.sass';
@import '../components/navbar/navbar.sass';
@import '../components/skill/skill.sass';
// endinjector
