p.name {{skill.name}}
p.count {{count | uppercase}}

div(
  ng-repeat="project in skill.projects"
)
  .separator
    .line
  project(
    project="project"
    first="$index == 0"
    id="{{project.name | urlsafe}}"
  )

//- project(
//-   ng-repeat="project in skill.projects"
//-   project="project"
//- )