.mover(
  ng-style="{transform: 'translateY('+offset+'px)'}"
)
  .section(
    ng-repeat="skill in fakeSkills"
  )
    .name {{skill.name}}
    .line(
      ng-repeat="project in skill.projects"
    )
.arrow